<h1 style="color: #ffcc00;">IT Staff Out</h1>
  <script>
    setTimeout(() => location.reload(), 600000);
  </script>
    <ul class="employees_list">
    {{#each events}}
      {{#if_today this this.start.dateTime this.end.dateTime}}
        {{#if this.isAllDay}}
          <li><span class="emp_name">{{ this.organizer.emailAddress.name }}</span> <span class="emp_hours">All Day</span></li>
          {{else}}
          <li><span class="emp_name">{{ this.organizer.emailAddress.name }}</span> <span class="emp_hours">{{eventDateTime this.start.dateTime}} -
            {{eventDateTime this.end.dateTime}}</span>
          </li>
        {{/if}}     
      {{/if_today}} 
    {{/each}}
    </ul>

