<div align="center">
  {{#if user}}
    <h1 style="font-weight:200;">Loading...</h3>
    <script type="text/javascript"> window.location = "/calendar" </script>
    <!-- <h4>Welcome {{ user.displayName }}!</h4> 
    <a href="/calendar" class="btn btn-primary btn-large">View Calendar</a> -->
  {{else}}
    <h1>Help Desk<br>Dashboard</h1>
    <a href="/auth/signin" class="btn btn-primary btn-large">Click here to sign in</a>
  {{/if}}
</div>
