body{
    padding-top: 4.5rem;
    background-image: linear-gradient(to bottom,rgba(0,0,0,.77),rgba(0,0,0,.77)), url(https://i.imgur.com/87xDbLK.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    color: #fff!important;
    }

h1{
    color: #fff;
    font-weight: 700;
}

.wrapper{
    padding: 2.31vw 4.62vw;
}

.navbar{
    padding: .62vw;
}

ul.employees_list{
    list-style: none;
    padding: 0;
}

ul.employees_list li{
    list-style-type: none;
    font-size: 2em;
}

.emp_name{
    font-weight: 700;
}

.emp_hours{
    font-weight: 200;
}

/* .vertical_center{
    place-items: center;
    height: 100vh;
    display: grid;
} */

