body {
  padding-top: 4.5rem;
  background-image: url('https://i.imgur.com/87xDbLK.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width:100%;
}

.overlay {
  background-color: #1a1919;
  margin-top: -15px;
  height: 2000px;
  opacity: .85;
}

.alert-pre {
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}

.ITlist {
  font-size: 28px;

  color: #FFFFFF;
}

h1 {
  color: #98AFE7;
  font-size: 52px;
}


